<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Main</title>
     <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css">
     <!-- CSS personalizado -->
     <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo">
        <div class="navbar-brand">
            MySeriesMyMovies
        </div>
    </div>
    <div>        
    <!-- Botão de Logout -->
    <form action="{% url 'logout' %}" method="POST">
      {% csrf_token %}
      <button type="submit">Logout</button>
  </form>
    </div>
</nav>
    <div class="caixa">
    <h3>Bem vindo {{ user.username }}</h3>
    </div>

    <div class="caixa"></div>
    <h2>Busca de Filmes</h2>
    <form action="/search/" method="POST">
        {% csrf_token %}
        <label for="title">Digite o título do filme:</label>
        <input type="text" id="title" name="search_query" required>
        <input type="submit" value="Buscar">
    </form>
    
    {% if results %}
      <h2>Resultados:</h2>
      <form action="/search/" method="GET">
        {% csrf_token %}
        <table>
          <thead>
            <tr>
              <th>Nome do Filme</th>
              <th>Nota</th>
              <th>Data de Lançamento</th>
              <th>Selecionar</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              <tr>
                <td>{{ result.title }}</td>
                <td>{{ result.vote_average }}</td>
                <td>{{ result.release_date }}</td>
                <td><input type="checkbox" name="selected_movies" value="{{ result.id }}"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit">Adicionar à minha biblioteca</button>
      </form>
    {% endif %}
    </div>
    <div class="caixa"> 
    {% if selected_movies %}
    <form action="{% url 'update_ratings' %}" method="POST">
      {% csrf_token %}
      <h2>Minha Biblioteca:</h2>
      <table>
          <thead>
              <tr>
                  <th>Nome do Filme</th>
                  <th>Nota Geral</th>
                  <th>Nota do Usuário</th>
                  <th>Data de Lançamento</th>
                  <th>Ações</th>
              </tr>
          </thead>
          <tbody>
              {% for movie in selected_movies %}
                  <tr>
                      <td>{{ movie.title }}</td>
                      <td>{{ movie.average_rating }}</td>
                      <td><input type="number" name="user_rating" value="{{ movie.user_rating }}" step="0.1"></td>
                      <td>{{ movie.release_date }}</td>
                      <td><button formaction="{% url 'delete_movie' movie.id %}">Excluir</button></td>
                      <input type="hidden" name="movie_id" value="{{ movie.id }}">
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      <button type="submit">Salvar Avaliações</button>
  </form>
{% else %}
  <p>Nenhum filme encontrado na biblioteca.</p>
{% endif %}
</div>
<div class="caixa">
{% if friend_activities %}
  <h2>Atividade dos Amigos:</h2>
  <table>
      <thead>
          <tr>
              <th>Nome do Filme</th>
              <th>Nota Geral</th>
              <th>Nota do Usuário</th>
              <th>Usuário</th>
              <th>Data de Lançamento</th>
          </tr>
      </thead>
      <tbody>
          {% for activity in friend_activities %}
              <tr>
                  <td>{{ activity.title }}</td>
                  <td>{{ activity.average_rating }}</td>
                  <td>{{ activity.user_rating }}</td>
                  <td>{{ activity.user.username }}</td>
                  <td>{{ activity.release_date }}</td>
              </tr>
          {% endfor %}
      </tbody>
  </table>
{% endif %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>