<!DOCTYPE html>
<html>
<head>
    <title>Main</title>
</head>
<body>
    <h1>Login efetuado corretamente {{ user.username }}</h1>

    <!-- Botão de Logout -->
    <form action="{% url 'logout' %}" method="POST">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>

    <h1>Busca de Filmes</h1>
    <form action="/search/" method="POST">
        {% csrf_token %}
        <label for="title">Digite o título do filme:</label>
        <input type="text" id="title" name="search_query" required>
        <input type="submit" value="Buscar">
    </form>

    {% if results %}
      <h2>Resultados:</h2>
      <form action="/search/" method="GET">
        {% csrf_token %}
        <table>
          <thead>
            <tr>
              <th>Nome do Filme</th>
              <th>Nota</th>
              <th>Data de Lançamento</th>
              <th>Selecionar</th>
            </tr>
          </thead>
          <tbody>
            {% for result in results %}
              <tr>
                <td>{{ result.title }}</td>
                <td>{{ result.vote_average }}</td>
                <td>{{ result.release_date }}</td>
                <td><input type="checkbox" name="selected_movies" value="{{ result.id }}"></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <button type="submit">Adicionar à minha biblioteca</button>
      </form>
    {% endif %}

    {% if selected_movies %}
    <form action="{% url 'update_ratings' %}" method="POST">
      {% csrf_token %}
      <h2>Minha Biblioteca:</h2>
      <table>
          <thead>
              <tr>
                  <th>Nome do Filme</th>
                  <th>Nota Geral</th>
                  <th>Nota do Usuário</th>
                  <th>Data de Lançamento</th>
                  <th>Ações</th>
              </tr>
          </thead>
          <tbody>
              {% for movie in selected_movies %}
                  <tr>
                      <td>{{ movie.title }}</td>
                      <td>{{ movie.average_rating }}</td>
                      <td><input type="number" name="user_rating" value="{{ movie.user_rating }}" step="0.1"></td>
                      <td>{{ movie.release_date }}</td>
                      <td><button formaction="{% url 'delete_movie' movie.id %}">Excluir</button></td>
                      <input type="hidden" name="movie_id" value="{{ movie.id }}">
                  </tr>
              {% endfor %}
          </tbody>
      </table>
      <button type="submit">Salvar Avaliações</button>
  </form>
{% else %}
  <p>Nenhum filme encontrado na biblioteca.</p>
{% endif %}
</body>
</html>